/* * {
  border: 1px solid red;
} */

body {
  text-align: center;
}

.image {
  text-align: center;
  width: 50%;
  margin: auto;
}

h1 {
color:red;
font-size: 3em;
font-family: 'Faster One', cursive;
text-align: center;
}

p {
color:red;
font-size: 2em;
font-family: 'Faster One', cursive;
text-align: center;
}

h2 {
color:black;
font-size: 1em;
font-family: 'Yantramanav', sans-serif;
}

img {
  width: 50%;
}

nav a {
color: red;}

h3 {
color: black;
font-size: 1em;
font-family: 'Roboto', sans-serif;
text-align: left;
}

h4 {
color: red;
font-size: 1.75em;
font-family: font-family: 'Montserrat', sans-serif;}
