/* * {
  border: 1px solid red;
} */
body {
  background:white;
  background: url('6552412-travis-scott-rodeo-wallpaper.png');
background-size: cover;
 background-repeat:repeat;
 background-position: center;
}

.image {
  text-align: center;
  width: 50%;
  margin: auto;
}

.row {
  margin: 2%;

}

h1 {
color:red;
font-size: 3em;
font-family: 'Faster One', cursive;
text-align: center;
}

p {
color:red;
font-size: 2em;
font-family: 'Faster One', cursive;

}

h2 {
color:black;
font-size: 1em;
font-family: 'Yantramanav', sans-serif;
text-align:center;
}

img {
  width: 50%;
}

nav a {
color: red;
border-radius: 3px;
}

h3 {
color: red;
font-size: 2em;
font-family: 'Faster One', cursive;
text-align: center;
}

h4 {
color: red;
font-size: 1.75em;
font-family: font-family: 'Montserrat', sans-serif;
text-align: center;
}



h5 {
  color: red;
  font-size: 3em;
  font-family: 'Faster One', cursive;
  text-align: center;
}

h6 {
  color: red;
  font-size: 1.75em;
  font-family: 'Faster One', cursive;
  text-align: center;
}

iframe {
align-items: center;

size: 50%;

}

.p2 {
color:black;
font-size: 1.5em;
font-family: 'Source Sans Pro', sans-serif;
padding-left: 400px;
padding-right: 90px;
margin-left: 0px;
margin-right: 280px;
}

.highlight {
color: red;


}
